version: "2.1"

services:
  www:
    image: nginx
    environment:
      VIRTUAL_HOST: "kih.sli.gonzoweb.ru"
    volumes:
      - "feed:/usr/share/nginx/html:ro"
    restart: always

  updater:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - "feed:/app/out"
    restart: always

volumes:
  feed:
