<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Radio Record / Кремов и Хрусталев</title>
    <link>http://www.radiorecord.ru</link>
    <language>ru-ru</language>
    <copyright>Radio Record Russia</copyright>
    <atom:link href="http://www.radiorecord.ru/rss.xml" rel="self" type="application/rss+xml" />
    <itunes:subtitle>Radio Record</itunes:subtitle>
    <itunes:author>www.radiorecord.ru</itunes:author>
    <itunes:summary>Программы Радио Рекорд</itunes:summary>
    <description>Программы Радио Рекорд</description>
    <itunes:owner>
      <itunes:name>Marsel Markhabulin</itunes:name>
      <itunes:email>milar@marsell.ws</itunes:email>
    </itunes:owner>
    <itunes:image href="http://www.radiorecord.ru/i/img/rr-logo-podcast.png" />
    <itunes:category text="Music"/>
    <itunes:explicit>clean</itunes:explicit>

    {% for item in items %}
    <item>
      <title>{{ item[2] or "Архив КиХ от %s" % (item[0], ) }}</title>
      <itunes:author>{{ item[3] or "Radio Record" }}</itunes:author>
      <itunes:subtitle>{{ item[4] or "Треш-шоу Кремова и Хрусталева" }}</itunes:subtitle>
      <itunes:summary>{{ item[5] or "Треш-шоу Кремова и Хрусталева" }}</itunes:summary>
      <itunes:image href="{{ item[6] or "http://www.radiorecord.ru/upload/iblock/b0b/b0b70a0b13e625a8a1c1b22505cadd05.jpg" }}" />
      <enclosure url="{{ item[7] }}" length="{{ item[1] }}" type="{{ item[8] or "audio/mpeg" }}" />
      <guid>{{ item[9] or item[7] }}</guid>
      <pubDate>{{ item[0] }}</pubDate>
      <description>{{ item[10] or "" }}</description>
      <itunes:duration>{{ item[11] or "" }}</itunes:duration>
      <itunes:explicit>{{ item[12] or "clean" }}</itunes:explicit>
    </item>
    {% endfor %}

  </channel>
</rss>
